.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color, #fff);
  background-image: var(--grad-left-to-right), var(--grad-top-to-bottom),
    var(--grad-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color, #000);
  padding: 100px 0;
  font-variation-settings: "wght" var(--main-font-weight, 400), "wdth" 100,
    "opsz" 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 102px;
  border: 2px solid var(--accent-color, #000);
  font-family: "PressStart2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  transition: 0.3s ease;
  max-width: 696px;
  padding-bottom: 25px;
}

.header__link {
  cursor: pointer;
  display: flex;
  margin: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px;
  margin-bottom: 0;
  flex-direction: column;
}

.header__title {
  margin: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px;
  margin-top: 0;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.header__title-accent {
  display: block;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__item {
  align-self: flex-start;
}

.theme-menu__button {
  background-color: var(--bg-color, #fff);
  text-transform: uppercase;
  outline: none;
  border: none;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.section__card {
  display: flex;
  flex-direction: column;
  max-width: 696px;
  outline: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color);
}

.card__title {
  background-color: var(--bg-color, #fff);
  outline: 2px solid var(--accent-color, #000);
  text-align: left;
  width: 100%;
  padding: 5px 0px 5px 10px;
  font-family: Inter-Variable, sans-serif;
  font-variation-settings: "wght" var(--main-font-bold-weight);
  font-size: 18px;
  line-height: 21.78px;
}

.card__image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;  
  outline: 2px solid var(--accent-color, #000);
}

.card__image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  position: relative;
}

.filter-grayscale {
  filter: grayscale(150%);
}

.filter-drop-shadow {
  filter: drop-shadow(0px 0px 2px blue);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-opacity {
  filter: opacity(25%);
}

.filter-contrast {
  filter: contrast(122%) brightness(93%);
}

.filter-saturate {
  filter: saturate(510%);
}

.filter-sepia {
  filter: sepia(60%);
}

.card__image-text {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  color: var(--accent-color, #000);
  font-family: "PressStart2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 1px 0 0 var(--bg-color), 1px 0 0 var(--bg-color),
    0 1px 0 var(--bg-color), 0 1px 0 var(--bg-color), -1px 0 0 var(--bg-color),
    -1px 0 0 var(--bg-color), 0 -1px 0 var(--bg-color), 0 -1px 0 var(--bg-color);
  mix-blend-mode: hard-light;
  inset-inline-end: 25px;
  inset-block-start: 30px;
}

.card__paragraph {
  background-color: var(--bg-color);
  padding: 27px 25px;
}

.card__paragraph:last-of-type {
  padding-top: 0;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.02em;
}

.like-icon {
  cursor: pointer;
}

.button {
  position: relative;
  outline: 2px solid var(--accent-color, #000);
  border: none;
  transition: 0.3s ease;
  background-color: var(--bg-color, #fff);
  font-family: "PressStart2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.card__buttons {
  background-color: var(--bg-color, #fff);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 4px 25px 27px 0;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  padding: 2px;
  outline: 2px solid transparent;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  height: 32px;
}

.card__like-button {
  line-height: 90%;
  inline-size: 130px;
  padding: 10px 0;
}

.footer__save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  gap: 8px;
  padding: 15px 21px 15px 19px;
  margin-top: 52px;
}

.footer__save-button .button__text {
  line-height: 12.6px;
}

.footer__button-image {
  height: 21px;
  width: 21px;
  z-index: 2;
  color: var(--btn-hover-color);
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  padding:32px;
  border: none;
  outline: 2px solid var(--accent-color);
  color: var(--accent-color, #000);
  font-family: "PressStart2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  transition: opacity 0.3s ease-in-out;
  max-width: 357px;
}

.dialog__form {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  row-gap: 30px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__button {
  grid-column: 1 / 3;
  padding: 12.5px;
  text-transform: uppercase;
}

.dialog__image {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.dialog__button .button__text {
  line-height: 12.6px;
}

@media (width <= 380px) {

  .header {
    padding-bottom: 20px;
  }
  
  .card__title {
    letter-spacing: 0.02em;
  }

  .card__image-text {   
    inset-inline-end: 13px;
    inset-block-start: 25px;
  }

  .card__paragraph {
    padding-top: 25px;
    width: 90%;
  }

  .card__paragraph:last-of-type {
    width: 100%;
  }

  .card__buttons {
    padding-top: 0;
  }

  .footer__save-button {
    flex-direction: column;
    padding: 19.5px 20px;
  }

  .footer__button-image {
    width: 28px;
    height: 28px;
  }
}

@supports (
  (text-stroke: 1px var(--bg-color, #fff)) or
    (-webkit-text-stroke: 1px var(--bg-color, #fff))
) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
  }
}

/* Анимации, UI KIT */

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--header-hover-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  height: 2px;
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  color: var(--header-hover-color);
}

.button:focus-visible {
  outline: 2px solid var(--accent-color, #000);
  box-shadow: 2px 2px 0px 1px var(--accent-color, #000);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: none;
  box-shadow: none;
  outline: 2px solid var(--accent-color, #000);
}
