/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;

  --main-font-weight: 400;
  --main-font-bold-weight: 700;

  --btn-hover-color: #fff;

  --grad-line1: #d3d3d3;
  --grad-line2: transparent;
  --grad-smooth1: #e7e7e7;
  --grad-smooth2: #1a1a1a;
  --grad-left-to-right: repeating-linear-gradient(
    to right,
    var(--grad-line2) 0,
    var(--grad-line1) 1px,
    var(--grad-line1) 2px,
    var(--grad-line2) 3px,
    var(--grad-line2) 4px
  );
  --grad-top-to-bottom: repeating-linear-gradient(
    to bottom,
    var(--grad-line2) 0,
    var(--grad-line1) 1px,
    var(--grad-line1) 2px,
    var(--grad-line2) 3px,
    var(--grad-line2) 4px
  );
  --grad-bg: linear-gradient(
    to bottom,
    var(--grad-smooth1) 0.01%,
    var(--grad-smooth2)
  );

  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";

  --core-color: #000;
  --core-active-color: #f00;
  --main-body-color: #000;
  --main-active-body-color: #f00;
  --contour-color: #000;
  --contour-active-color: #f00;
  --sparks-fill-color: #f00;
  --sparks-fill-color-transparent: rgb(255 0 0 / 0%);
  --core-color-transparent: rgb(0 0 0 / 0%);
  --main-body-color-transparent: rgb(0 0 0 / 0%);
}

:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;

  --main-font-weight: 465;
  --main-font-bold-weight: 785;

  --btn-hover-color: #00cc14;

  --grad-line1: #000;
  --grad-line2: transparent;
  --grad-smooth1: #007f0c;
  --grad-smooth2: #004306;
  --grad-left-to-right: repeating-linear-gradient(
    to right,
    var(--grad-line2) 0,
    var(--grad-line1) 1px,
    var(--grad-line1) 2px,
    var(--grad-line2) 3px,
    var(--grad-line2) 4px
  );
  --grad-top-to-bottom: repeating-linear-gradient(
    to bottom,
    var(--grad-line2) 0,
    var(--grad-line1) 1px,
    var(--grad-line1) 2px,
    var(--grad-line2) 3px,
    var(--grad-line2) 4px
  );
  --grad-bg: linear-gradient(
    to bottom,
    var(--grad-smooth1),
    var(--grad-smooth2)
  );

  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";

  --core-color: rgb(0 204 20);
  --core-active-color: #f00;
  --main-body-color: rgb(0 204 20);
  --main-active-body-color: #f00;
  --contour-color: rgb(0 204 20);
  --contour-active-color: #f00;
  --core-color-transparent: rgb(0 204 20 / 0%);
  --main-body-color-transparent: rgb(0 204 20 / 0%);
}
